<a href="/" class="font-bold text-3xl p-5 hover:text-[#D5BDAF]">Back to Roro</a>

<div class="flex flex-row justify-around flex-wrap p-5 max-w-full">
	{{ taxonomy:filter }}
	<button class="filter-btn h-20 min-w-[40%] bg-[#D5BDAF] hover:bg-[#cad9d9] rounded-sm text-center text-2xl m-2  font-bold"
		style="box-shadow: rgba(0,0,0,0.25) 0px 5px 15px"
		data-term="{{ slug }}">
		{{ title }}
	</button>
	{{ /taxonomy:filter }}
</div>

<div id="gallery" class="min-h-screen columns-1 sm:columns-2 md:columns-3 gap-4 space-y-4 p-5">
	{{ collection:photos taxonomy:category="{arg}" scope="pic" }}
	<figure class="gallery-item break-inside-avoid rounded-md group relative overflow-hidden"
		data-terms=" {{pic:filter | pluck('slug') | join(',')}}"
		style="box-shadow: rgba(0,0,0,0.45) 0px 5px 15px">
		<img class="w-full h-auto object-cover" src="{{ photo }}" alt="">
	</figure>
	{{ /collection:photos }}
</div>

<script>
	(function () {
		const buttons = document.querySelectorAll('.filter-btn');
		const items = document.querySelectorAll('.gallery-item');
		var filterList = [];
		buttons.forEach(btn => btn.addEventListener('click', () => {
			const term = btn.dataset.term;
			if (!filterList.includes(term)) {
				filterList.push(term);
				btn.classList.add('bg-[#cad9d9]')
			}
			else {
				filterList = filterList.filter(e => e != term)
				btn.classList.remove('bg-[#cad9d9]')

			};

			if (filterList.length == 0) {
				items.forEach(el => {
					el.style.display = 'block'
				});
			}
			else {
				items.forEach(el => {
					console.log('el dataset', el.dataset.terms.split(','))
					const hasMatch = el.dataset.terms.trim().split(',').some(item => filterList.includes(item));
					console.log('hasmatch -> ', hasMatch)
					el.style.display = hasMatch ? 'block' : 'none';
					btn.classList.add('test')
				});
			}
		}));
	})();
</script>