<a href="/" class="font-bold text-3xl p-5 hover:text-[#D5BDAF]">Back to Roro</a>

<div>
	<div class="min-h-screen columns-1 md:columns-3 gap-4 space-y-4 p-5">
		{{ taxonomy:shooting }}
		{{shootingName = title}}
		{{ collection:photos taxonomy:shooting="{slug}" count="true" }}
		    {{ if total_results > 0 }}
			<div >
			    {{ collection:photos taxonomy:shooting="{slug}" limit="1" }}
				<a href="/Shooting/{{ shootingName | slugify }}" class="group block break-inside-avoid mb-4 max-w-sm ">
					<div class="relative overflow-hidden rounded-md">
						{{ photo }}
							<img src="{{ photo }}"
						class="w-full  "
							loading="lazy" width="800" height="1200">
						{{ /photo }}

						<div class="absolute inset-0 bg-black/40 group-hover:bg-black/0 transition-colors duration-300 flex items-end justify-center">
							<span
								class="text-[#f2eae1] font-medium text-lg translate-y-2 group-hover:translate-y-0 transition-all duration-300 px-4 pb-4">
								{{ shootingName }}
							</span>
						</div>
					</div>
				</a>
			    {{ /collection:photos }}
			</div>
		    {{ /if }}
		{{ /collection:photos }}
	    {{ /taxonomy:shooting }}
	</div>
</div>